.search-results-container .search-results-list {
  list-style-type: none;
  text-align: center;
}

.search-results-container .search-results-list .search-results-item {
  padding: 10px;
  overflow: auto;
}

.search-results-container .search-results-list .search-results-item:hover {
  background: #c3c3c3;
  cursor: pointer;
}

.search-results-container .search-results-list .search-results-item .search-result-img {
  float: left;
  margin: 0 15px 0 0;
  border-radius: 50%;
}

.search-results-container .search-results-list .search-results-item .search-result-title {
  font-size: 30px;
  color: #393D42;
}

.search-results-container .search-results-list .search-results-item .search-result-description {
  font-size: 18px;
  color: black;
}

.alert-style {
  text-align: center;
}
