<div class = "row">
  <div class="col-4 search-container"></div>
  <div id="search_form" class="col-4 search-container">
    <input #searchInput id="search_input" class="search-input" type="text" name="search" (keyup.enter)="searchRecipes(searchInput.value)" placeholder="Search something..." />
    <button id="search_button" class="search-button" type="submit" (click)="searchRecipes(searchInput.value)"><i class="fa fa-search"></i></button>
  </div>
  <div class="col-4 search-container"></div>
</div>